header {
   background-color: rgb(36, 99, 36);
   height: 4rem;
}

button {
  background-color: var(--primary);
  color: var(--primary-inverse);
  border: 2px solid var(--primary);
  
}

a {
  color: var(--primary);
  text-decoration: none;
}

.taller{
  height: 3rem;
}

body{
  background-color: rgb(33, 32, 32);
  color: white;
}

select{
  color: white;
  background-color: rgb(33, 32, 32);
}

.headerLink{  
display: inline-flex;
padding: 18px 5px; 
background-color: rgb(36, 99, 36);
color: #fff; 
text-decoration: none; 
transition: background-color 0.3s ease; 

}

.headerLink:hover{
  background: green;
}

.loginLink{
  padding: 18px 5px; 
background-color: rgb(1, 47, 1);
color: #fff; 
text-decoration: none; 
transition: background-color 0.3s ease; 
border-right: 1px solid black;
border-left: 1px solid black;
}

.loginLink:hover{
  background: green;
}

a{
  color: rgb(17, 115, 148);
  text-decoration: underline;
}


.card-header{
  background-color: gray;
   min-height: 5rem;
}