header {
   background-color: rgb(36, 99, 36);
   height: 4rem;
}

button {
  background-color: var(--primary);
  color: var(--primary-inverse);
  border: 2px solid var(--primary);
  
}

a {
  color: var(--primary);
  text-decoration: none;
}

.taller{
  height: 3rem;
}

body{
  background-color: rgb(33, 32, 32);
  color: white;
}

select{
  color: white;
  background-color: rgb(33, 32, 32);
}

.headerLink{  
display: inline-flex;
padding: 18px 5px; 
background-color: rgb(36, 99, 36);
color: #fff; 
text-decoration: none; 
transition: background-color 0.3s ease; 

}

.headerLink:hover{
  background: green;
}

.loginLink{
  padding: 18px 5px; 
background-color: rgb(36, 99, 36);
color: #fff; 
text-decoration: none; 
transition: background-color 0.3s ease; 
}

.loginLink:hover{
  background: green;
}

a{
  color: rgb(17, 115, 148);
  text-decoration: underline;
}


.card-header{
  background-color: rgb(223, 216, 216);
   min-height: 5rem;
   
}

.headerStyle{
  margin-left: 2rem;
}

.headerImg{
  width:  4rem;
  height: 4rem;
}

footer {
    background-color: #333; /* Choose a background color */
    color: #fff; /* Text color */
    padding: 20px 0; /* Padding for content inside the footer */
    text-align: center; /* Center the content */
}

.headerImg {
    width: 50px; /* Adjust the image width as needed */
    margin-right: 20px; /* Add some spacing between the image and text */
}

h4 {
    margin: 0; /* Remove default margin on heading elements */
}