header {
   background-color: rgb(1, 47, 1);
   height: 4rem;
}

button {
  background-color: var(--primary);
  color: var(--primary-inverse);
  border: 2px solid var(--primary);
  
}

a {
  color: var(--primary);
  text-decoration: none;
}

.taller{
  height: 3rem;
}

body{
  background-color: rgb(33, 32, 32);
  color: white;
}

select{
  color: white;
  background-color: rgb(33, 32, 32);
}

.headerLink{
  height:fit-content ;
border-right: 1px solid;
}